* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    background: #8eeaf7;
}

h1 {
    font-family: 'Oxygen', sans-serif;
    margin-top: 2em;
    margin-bottom: 2em;
    color: rgb(13, 165, 189);
}

img {
    width: 45%;
    border-radius: 10px;
    border: 5px solid #fff;
}

.carousel-content {
    display: none;
    margin-bottom: 2em;
}

.carousel-content.active {
    display: block;
}

.control {
    width: 20px;
    height: 20px;
    margin: 10px;
    border: 1px solid rgb(48, 71, 146);
    border-radius: 50%;
}

.previous, .next {
    color: rgb(48, 71, 146);
    margin: 10px 30px;
}

.control:hover {
    background: rgb(48, 71, 146);
    border: 1px solid #4db6ac;
} 

.control:active {
    background: yellow;
}